.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
ios/.symlinks/
ios/.generated/
ios/Flutter/Flutter.podspec
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.modulemap
ios/Flutter/GeneratedPluginRegistrant.swift
ios/Runner.xcworkspace/
.DS_Store
.atom/
.buildlog/
.history
.svn/
.vscode/
*.swp
*.swo
**/SCOPED_ANDROID_ARCHIVE.zip
**/android/gradlew.bat
**/android/local.properties
**/android/gradlew
coverage/
lib/generated_plugin_registrant.dart
.env
.env.local
